@define-color fg      #d3c6aa;
@define-color bg      #2d353b;
@define-color red     #e67e80;
@define-color green   #a7c080;
@define-color yellow  #dbbc7f;
@define-color blue    #7fbbb3;
@define-color aqua    #83c092;
@define-color purple  #d699b6;

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka", monospace;
  font-weight: 400;
  font-size: 16px;
  min-height: 0;
}

*:hover {
  border: none;
  border-radius: 0;
  font-family: "Iosevka", monospace;
  font-size: 16px;
  font-weight: 400;
  min-height: 0;
}

window#waybar {
  background-color: rgba(45, 53, 59, 0.7);
  color: @fg;
}

#workspaces button {
  color: @green;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: @green;
  border-bottom: 2px solid @green;
}

#workspaces button.hidden {
  color: @fg;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: @bg;
  color: @fg;
  border: 0 solid transparent;
}

#custom-notification {
  padding: 0 5px;
}
