@define-color fg      #d3c6aa;
@define-color bg      #2d353b;
@define-color bgDim   #232a2e;
@define-color bgGreen #425047;
@define-color red     #e67e80;
@define-color green   #a7c080;
@define-color yellow  #dbbc7f;
@define-color blue    #7fbbb3;
@define-color aqua    #83c092;
@define-color purple  #d699b6;

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka", monospace;
  font-weight: 400;
  font-size: 14px;
  min-height: 0;
}

*:hover {
  border: none;
  border-radius: 0;
  font-family: "Iosevka", monospace;
  font-size: 14px;
  font-weight: 400;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @fg;
}

#waybar > box {
  /* background-color: rgba(45, 53, 59, 0.7); */
  background-color: transparent;
  border-radius: 12px;
  margin: 12px 16px 0 16px;
}

.modules-left {
  background-color: rgba(45, 53, 59, 0.6);
  border-radius: 12px;
  padding-right: 16px;
}

.modules-center {
  background-color: rgba(45, 53, 59, 0.6);
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.modules-right {
  background-color: rgba(45, 53, 59, 0.6);
  border-radius: 12px;
  padding-left: 16px;
}

#workspaces button {
  color: @green;
  border-bottom: 2px solid transparent;
  margin-top: 2px;
}

#workspaces button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#workspaces button.active {
  color: @green;
  background-color: #3d484d;
  /* border-bottom: 2px solid @green; */
}

#workspaces button.hidden {
  color: @fg;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: @bg;
  color: @fg;
  border: 0 solid transparent;
}

#custom-notification {
  padding: 0 5px;
}

#custom-screenrecord {
  color: @red;
  padding: 0 0 0 6px;
}
